<h2><%= t(:newissuealerts_edit, :project => @project.name).html_safe %></h2>
<%= form_for @newissuealert, :url => newissuealert_path(:project_id => @project, :id => @newissuealert) do |f| %>
  <%= error_messages_for 'newissuealert' %>
  <%= render :partial => 'newissuealerts/form', :locals => { :f => f} %>
<% end %>

